<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="false"
      internalLogLevel="Off">

  <targets async="true">
    <!-- 檔案日誌：以執行檔目錄為基準，不受工作目錄影響 -->
    <target xsi:type="File" name="file"
            fileName="${basedir}/Logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level:padding=-5}} ${logger:shortName=true} ${message} ${exception:format=tostring}"
            encoding="utf-8"
            archiveEvery="Day"
            maxArchiveDays="14"
            keepFileOpen="true"
            concurrentWrites="false"
            openFileCacheTimeout="30" />
  </targets>

  <rules>
    <!-- OPC UA 堆疊在 Debug 層級非常多話，只保留 Info 以上 -->
    <logger name="Opc.Ua.*" minlevel="Info" writeTo="file" final="true" />
    <logger name="Opc.Ua.*" maxlevel="Debug" final="true" />
    <logger name="Microsoft.*" minlevel="Info" writeTo="file" final="true" />
    <logger name="Microsoft.*" maxlevel="Debug" final="true" />
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>
