<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn">

  <targets>
    <!-- 文件日誌 -->
    <target xsi:type="File" name="fileTarget"
            fileName="Logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}"
            archiveFileName="Logs/archive.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            createDirs="true"
            keepFileOpen="false"
            concurrentWrites="true" />
    
    <!-- 控制台日誌 -->
    <target xsi:type="Console" name="consoleTarget"
            layout="${time} ${uppercase:${level}} ${logger} ${message}" />
    
    <!-- 記憶體日誌用於UI顯示 -->
    <target xsi:type="Memory" name="memoryTarget"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="fileTarget" />
    <logger name="*" minlevel="Debug" writeTo="consoleTarget" />
    <logger name="*" minlevel="Trace" writeTo="memoryTarget" />
  </rules>
</nlog>